html {
  background: linear-gradient(
    100deg,
    rgb(43, 158, 176),
    #435fc2,
    rgba(181, 51, 114, 0.918),
    rgb(230, 93, 150),
    rgba(230, 102, 29, 0.879),
    rgba(247, 187, 22, 0.881)
  );
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}
.flex-container {
  display: flex;
  flex-direction: column;
  height: 265px;
  width: 350px;
  background: rgba(226, 209, 231, 0.45);
  border: 4px solid rgba(249, 227, 246, 0.301);
  border-radius: 20px;
  padding: 20px 40px 30px;
  cursor: default;
}
.flex-items:nth-child(1) {
  flex-direction: column;
  align-self: flex-start;
  height: 150px;
  font-size: 14px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  color: rgb(23, 20, 20);
  margin-bottom: 5px;
}
.flex-items:nth-child(2) {
  align-self: flex-end;
  position: absolute;
  margin-top: 20px;
}

.flex-items:nth-child(3) {
  font-size: 13px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  color: rgb(23, 20, 20);
  margin-bottom: 5px;
}

img {
  height: 135px;
  width: 135px;
  border-radius: 50%;
}

button {
  background-image: linear-gradient(
    144deg,
    #af40ffd8,
    #5a42f3dd 50%,
    #00dbebd8
  );
  border-radius: 10px;
  color: rgb(23, 20, 20);
  cursor: pointr;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  line-height: 30px;
  outline: transparent;
  text-align: center;
  transition: box-shadow 0.5s ease-in-out;
  user-select: none;
}

button:hover {
  box-shadow: 0 0 0.25rem rgba(3, 3, 154, 0.5),
    -0.125rem -0.125rem 1rem rgba(97, 4, 132, 0.5),
    0.125rem 0.125rem 1rem rgba(158, 1, 118, 0.5);
}

.popup {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 350px;
  width: 500px;
  background-color: #edf2f5;
  border: solid rgba(205, 203, 243, 0.749) 4px;
  border-radius: 18px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  padding: 15px;
  text-align: center;
}

.popup img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
}

.popup p {
  font-size: 14px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  color: rgb(23, 20, 20);
  margin-bottom: 10px;
  margin-top: 0px;
}

.popup h2 {
  margin-bottom: 8px;
}
